<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/admin/adframe/css/global.css">
	<link rel="stylesheet" href="/admin/adframe/css/components.css">
	<script>
	function waitScreen()
	{
		//document.all.waitoben.style.visibility = 'visible';
		document.all.waitunten.style.visibility = 'visible';
	}	
	</script>
</head>
<body class="BodyContainerWhite" bgcolor="#ffffff">

<div id="componentheadline">Bildupload: Artikel <!-- #ADFRAME_MCMS_ID# --> / <!-- #IMAGETITLE# --></div>

<div id="componentcontent"> 	
<form name="mcms_editimage_form" action="/cgi-bin/adframe/admin/adframe/components/mcms/mcms_editimage.html" method="post" enctype="multipart/form-data">
<input type="hidden" name="componentname" value="<!-- #componentname# -->">	
<input type="hidden" name="ADFRAME_MCMS_ID" value="<!-- #ADFRAME_MCMS_ID# -->">	
<input type="hidden" name="EDIT_IMAGE" value="<!-- #EDIT_IMAGE# -->">
<input type="hidden" name="page" value="<!-- #page# -->">

	
	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="600" align="center">
		<tr><td height="20"></td></tr>
	</table>

	
	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="600" align="center">		
		<tr>
			<td class="componentheadtd" align="center" colspan="2">BILDUPLOAD F&Uuml;R <!-- #IMAGETITLE# --></td>
		</tr>
		<tr>
			<td class="componentheadtd" width="120" valign="top">BISHERIGES BILD</td>
			<td class="componentcontenttd" align="left"><img src="<!-- #GENIMAGEDIR# -->/<!-- #THE_IMAGE# -->?random=<!-- #RANDOM# -->" border="0"  alt="<!-- #IMAGE_TITLE# -->"></td>
		</tr>
		<tr>
			<td class="componentheadtd" width="120" valign="top">NEUE DATEI</td>
			<td class="componentcontenttd" align="left" width="478"><input type="file" name="FILE_IMAGE"></td>
		</tr>
	</table>

	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="600" align="center">
		<tr><td height="10"></td></tr>
	</table>
	
	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="600" align="center">
		<tr>
			<td class="componentheadwhitetd" width="120" valign="middle" align="center">&nbsp;<div id="waitunten" style="visibility: hidden"><font color="#ffcc00">BITTE WARTEN</font></div></td>
			<td class="componentcontentwhitetd" width="80" valign="top" align="center">zur&uuml;ck<br><a href="/admin/adframe/components/mcms/mcms_edit.html?componentname=<!-- #componentname# -->&ADFRAME_MCMS_ID=<!-- #ADFRAME_MCMS_ID# -->&page=<!-- #page# -->" class="tdinnernorm"><img src="/admin/adframe/img/icon_left.gif" alt="zur&uuml;ck ohne speichern" width="18" height="18" border="0"></a></td>								
			<td class="componentcontentwhitetd" width="316" valign="top" align="center">&nbsp;</td>					
			<td class="componentcontentwhitetd" width="80" valign="middle" align="center"><input type="submit" value="upload" class="tdbuttonred" onclick="javascript: waitScreen()"></td>					
		</tr>
	</table>
	</form>
</div>

</body>
</html>