<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/admin/adframe/css/global.css">
	<link rel="stylesheet" href="/admin/adframe/css/components.css">

</head>
<body class="BodyContainerWhite" bgcolor="#ffffff" onload="self.focus()">

<div id="componentcontent"> 	

	<div>
	<!-- #displayimport# -->
	<switch name="SWITCH_SHOW_PAGE_1">	
	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="500" align="center">
		<tr>
			<td class="componentheadtd" width="500" align="center"><ul>Die Vorschau kann leider nicht ausgeführt werden, Grund:
																		<li><!-- #ADFRAME_ERROR# --></li></ul></td>
		</tr>
	</table>		
	</div>


	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="500" align="center">
		<tr><td height="10"></td></tr>
	</table>
	
	</table>
</div>

</body>
</html>