<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/admin/adframe/css/global.css">
	<link rel="stylesheet" href="/admin/adframe/css/components.css">

</head>
<body class="BodyContainerWhite" bgcolor="#ffffff" onload="self.focus()>


<div id="componentcontent"> 	
	

	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="500" align="center">
		<tr><td class="componentcontentwhitetd" width="200" valign="top" align="left"><font color="#ff0000"><b>Bitte warten...</b></font></td></tr>
	</table>

</div>

</body>
</html>