<html>
<head>
	<title>adframe</title>
	<meta name="author" content="">
	<meta name="publisher" content="">
	<meta name="copyright" content="">
	<meta http-equiv="content-type" content="text/html;charset=iso-8859-1">
	<link rel="stylesheet" href="/admin/adframe/css/global.css">
	<link rel="stylesheet" href="/admin/adframe/css/components.css">
</head>

<body topmargin="0" marginheight="0" leftmargin="0" marginwidth="0" text="#000000" link="#000000" alink="#000000" vlink="#000000" class="BodyContainerWhite">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td bgcolor="#000000" align="right"><img src="/admin/adframe/img/adframe/1456.gif" width=283 height=41 alt="" border="0"></td>
	</tr>
	<tr>
		<td bgcolor="#3F3F3F" class="GlobalnavLinkEEEEEE"><img src="/admin/adframe/img/clear_dot.gif" width=1 height=12 alt="" border="0"><!-- <a noadd href="#" >Adframe Technologies</a> // --></td>
	</tr>
	<tr>
		<td bgcolor="#ffffff"><img src="/admin/adframe/img/adframe/25678.gif" width=370 height=65 alt="" border="0"></td>
	</tr>
	<tr>
		<td bgcolor="#ffffff">
			<table border="0" cellpadding="10" cellspacing="0" width="100%">
				<tr>
					<td>
						<table border="0" cellpadding="3" cellspacing="0" width="400">
							
							<tr>
								<td valign="middle"><font face="helvetica,arial" color="#3366cc" size="4">
					<p>&nbsp;</p>
					<p><b><!-- #COMPONENTTITLE# --> Administration</b></p>
					</font></td>
							</tr>
						</table>
						<table border="0" cellpadding="3" cellspacing="0" width="400">
							<tr>
								<td width="10" valign="middle"><img src="/admin/adframe/img/adframe/dot.gif" width=7 height=7 alt="" border="0"></td>
								<td valign="middle" class="NavSmallBlue"><b>In diesem Bereich k&ouml;nnen <!-- #COMPONENTTITLE# -->-Eintr&auml;ge bearbeitet und kommentiert werden</b></td>
							</tr>
							<tr>
								<td width="10" valign="middle"></td>
								<td valign="middle" class="NavSmallBlue"><b></b></td>
							</tr>
							<tr>
								<td width="10" valign="middle"></td>
								<td valign="middle" class="NavSmallBlue"></td>
							</tr>
						</table></td>
				</tr>
			</table></td>
	</tr>
	<tr>
		<td bgcolor="#B1B1B1"><img src="/admin/adframe/img/clear_dot.gif" width=1 height=1 alt="" border="0"></td>
	</tr>
	<tr>
		<td bgcolor="#ffffff">
		<font face="verdana,helvetica,arial" color="#B1B1B1" size="-2"><blockquote>&nbsp;<br>ADFRAME FRAMEWORK APPLICATION<br>
&copy; ping.media GmbH, Hamburg</blockquote></font></td>
	</tr>
</table>
</body>
</html>