Options FollowSymLinks
RewriteEngine on
RewriteBase  /

RewriteCond %{REQUEST_URI} !^/cgi-bin/adframe/
RewriteCond %{REQUEST_FILENAME} ^(.*)\.html
RewriteRule ^(.*)$ /cgi-bin/adframe/$1 [T=application/x-httpd-cgi]




