<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/admin/adframe/css/global.css">
	<link rel="stylesheet" href="/admin/adframe/css/components.css">

	<script language="javascript">

		
	function activateItem(mcms_id,componentname,name)
	{
		var messagedel = "Soll der Eintrag "+name+' wieder aktiviert werden ?\nDer Artikel erscheint dann ganz oben in der Artikel-&Uuml;bersicht und ist dann als "offline" markiert';
		var okdel = confirm(messagedel);
		if (okdel)
		{
			stdel = "/cgi-bin/adframe/admin/adframe/components/mcms/mcms_archive.html?id=<!-- #id# -->&adframe_event=__mcms_activate&page=<!-- #page# -->&ADFRAME_MCMS_ID="+mcms_id+"&componentname="+componentname;
			self.location.replace(stdel);
		}
	}	
	function deleteItem(mcms_id,componentname,name)
	{
		var messagedel = "Soll der Eintrag "+name+' wirklich endgültig gelöscht werden ?\n';
		var okdel = confirm(messagedel);
		if (okdel)
		{
			stdel = "/cgi-bin/adframe/admin/adframe/components/mcms/mcms_archive.html?id=<!-- #id# -->&adframe_event=__mcms_delete_article&page=<!-- #page# -->&ADFRAME_MCMS_ID="+mcms_id+"&componentname="+componentname;
			self.location.replace(stdel);
		}
	}		
	
	</script>
</head>
<body class="BodyContainerWhite" bgcolor="#ffffff">

<div id="componentheadline">Gel&ouml;schte Objekte - <!-- #COMPONENTTITLE# --></div>

<div id="componentcontent">


	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="600" align="center">
		<tr>
			<td class="componentheadwhitetd" width="18"><a href="/admin/adframe/components/mcms/mcms_archive.html?componentname=<!-- #componentname# -->&nextpage=prev&page=<!-- #page# -->"><img src="/admin/adframe/img/icon_left.gif" width=18 height=18 alt="" border="0"></a></td>
			<td class="componentheadwhitetd" width="80" align="center"><b>SEITE <!-- #page# --> VON <!-- #allpages# --></b></td>
			<td class="componentheadwhitetd" width="80" align="center"><b><!-- #count# --> EINTR&Auml;GE</b></td>			
			<td class="componentcontentwhitetd" width="300" valign="middle" align="center">&nbsp;</td>					
			<td class="componentheadwhitetd" width="18"><a href="/admin/adframe/components/mcms/mcms_archive.html?componentname=<!-- #componentname# -->&nextpage=next&page=<!-- #page# -->"><img src="/admin/adframe/img/icon_right.gif" width=18 height=18 alt="" border="0"></a></td>			
		</tr>
	</table>

	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="600" align="center">
		<tr><td height="10"></td></tr>
	</table>
	
	<!-- #displayimport# -->
	
	<repetition name="LOOP_MCMS_ARCHIVE">		
	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="600" align="center" bgcolor="#ffcccc">	
		<tr>
			<td class="componentheadtd" bgcolor="#ffcccc" width="10"><font color="#ff6600">!ADFRAME_MCMS_ID!</font></td>
			<td class="componentheadbigtd" width="565">&nbsp;!HEADLINE!</td>
			<td class="componentcontentwhitetd" bgcolor="#ffcccc" width="20" align="center" valign="middle">
				<table border="0" class="componenttable" bgcolor="#ffcccc" cellpadding="0" cellspacing="1" width="20" align="center">
					<tr>
						<td class="componentcontenttd" bgcolor="#ffcccc" width="18" height="18" valign="middle" align="center"><a noadd href="javascript: void activateItem(!ADFRAME_MCMS_ID!,'!AREA!','!HEADLINE!');" class="tdinnernorm"><img src="/admin/adframe/img/icon_red.gif" alt="Artikel Wiederherstellen" width="18" height="18" border="0"></a></td>		
					</tr>	
				</table>
			</td>
		</tr>
		<tr>
			<td class="componentcontenttd" bgcolor="#ffcccc" align="left" valign="top" colspan="2">
				<table cellpadding="0" cellspacing="0" border="0" width="363">
					<tr>
						<td width="363">
						<table border="0" cellpadding="0" cellspacing="0" align="left"><tr><td><img src="<!-- #GENIMAGEDIR# -->/!TEASERIMAGE!?random=<!-- #RANDOM# -->" alt="!HEADLINE!" title="!HEADLINE!" width="90" height="67" vspace="2" border="0"></td><td><img src="/img/clear_dot.gif" width=8 height=1 alt="" border="0"></td></tr></table>
						<font class="small">!CR_DATE_DAY!.!CR_DATE_MONTH!.!CR_DATE_YEAR!</font><br>
						<font class="head1">!HEADLINE!</font><br>
						<font class="standard">
						<div id="blocksatz">!TEXT_0!</div>
						</font>
						</td>
					</tr>
					<tr>
						<td id="spacer">&nbsp;</td>
					</tr>
				</table>	
			</td>
			<td class="componentcontentwhitetd" width="20" align="center" valign="top">
				<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="20" align="center">

					<tr>
						<td class="componentcontenttd" width="18" height="18" valign="middle" align="center"><a noadd href="javascript: deleteItem(!ADFRAME_MCMS_ID!,'!AREA!','!HEADLINE!');"><img src="/admin/adframe/img/icon_delete.gif" alt="Artikel endg&uuml;ltig l&ouml;schen" width="18" height="18" border="0"></a></td>
					</tr>	
				</table>
			</td>
		</tr>
	</table>
	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="600" align="center">
		<tr><td height="3"></td></tr>
	</table>	
	</repetition name="LOOP_MCMS_ARCHIVE">
	
	<switch name="SWITCH_NODATA">
	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="600" align="center">	
		<tr>
			<td class="componentcontenttd" colspan="8"><font color="#ff0000">Es sind keine Eintr&auml;ge vorhanden</font></td>
		</tr>
	</table>
	</switch name="SWITCH_NODATA">
	
	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="600" align="center">
		<tr><td height="10"></td></tr>
	</table>	
	
	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="600" align="center">
		<tr>
			<td class="componentheadwhitetd" width="18"><a href="/admin/adframe/components/mcms/mcms_archive.html?componentname=<!-- #componentname# -->&nextpage=prev&page=<!-- #page# -->"><img src="/admin/adframe/img/icon_left.gif" width=18 height=18 alt="" border="0"></a></td>
			<td class="componentheadwhitetd" align="center"><b>SEITE <!-- #page# --> VON <!-- #allpages# --></b></td>
			<td class="componentheadwhitetd" width="18"><a href="/admin/adframe/components/mcms/mcms_archive.html?componentname=<!-- #componentname# -->&nextpage=next&page=<!-- #page# -->"><img src="/admin/adframe/img/icon_right.gif" width=18 height=18 alt="" border="0"></a></td>			
		</tr>
	</table>

</div>

</body>
</html>
