<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/admin/adframe/css/global.css">
	<link rel="stylesheet" href="/admin/adframe/css/components.css">

</head>
<body class="BodyContainerWhite" bgcolor="#ffffff" onload="self.focus()">

<div id="componentcontent"> 	

	<div>
	<!-- #displayimport# -->
	<switch name="SWITCH_SHOW_PAGE_1">	
	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="500" align="center">
		<tr>
			<td class="componentheadtd" width="500" align="center"><!-- #MCMS_ARTICLE_DATA_1# --></td>
		</tr>
	</table>
	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="500" align="center">
		<tr><td height="10"></td></tr>
	</table>	
	</switch name="SWITCH_SHOW_PAGE_1">		

	<switch name="SWITCH_SHOW_PAGE_2">
	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="500" align="center">
		<tr><td height="5" class="componentcontentwhitetd" valign="bottom" align="center">&nbsp;<!-- #TITLE_PAGE_2# --></td></tr>
	</table>		
	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="500" align="center">
		<tr>
			<td class="componentheadtd" width="500" align="center"><!-- #MCMS_ARTICLE_DATA_2# --></td>
		</tr>
	</table>
	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="500" align="center">
		<tr><td height="10"></td></tr>
	</table>	
	</switch name="SWITCH_SHOW_PAGE_2">

	<switch name="SWITCH_SHOW_PAGE_3">
	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="500" align="center">
		<tr><td height="5" class="componentcontentwhitetd" valign="bottom" align="center">&nbsp;<!-- #TITLE_PAGE_3# --></td></tr>
	</table>		
	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="500" align="center">
		<tr>
			<td class="componentheadtd" width="500" align="center"><!-- #MCMS_ARTICLE_DATA_3# --></td>
		</tr>
	</table>
	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="500" align="center">
		<tr><td height="10"></td></tr>
	</table>	
	</switch name="SWITCH_SHOW_PAGE_3">				
	</div>


	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="500" align="center">
		<tr><td height="10"></td></tr>
	</table>
	
	</table>
</div>

</body>
</html>