<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/admin/adframe/css/global.css">
	<link rel="stylesheet" href="/admin/adframe/css/components.css">
</head>
<body class="BodyContainerWhite" bgcolor="#ffffff">

<div id="componentheadline"><font color="#ff0000">ARCHIV - <!-- #COMPONENTTITLE# --></font></div>

<div id="componentcontent">
<form name="dates_overview_form" action="/cgi-bin/adframe/admin/adframe/components/teasercms/teasercms_overview.html" method="post">
<input type="hidden" name="componentname" value="<!-- #componentname# -->">
	
	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="550" align="center">
		<tr>
			<td class="componentheadtd">DAS ARCHIV IST z.z. GESPERRT.</td>
		</tr>
	</table>

</form>
</div>

</body>
</html>
