<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/admin/adframe/css/global.css">
	<link rel="stylesheet" href="/admin/adframe/css/components.css">
</head>
<body class="BodyContainerWhite" bgcolor="#ffffff">

<div id="componentheadline">Firma anlegen - <!-- #COMPONENTTITLE# --></div>

<div id="componentcontent"> 	
	<form name="company_new_form" action="/cgi-bin/adframe/admin/adframe/components/company/company_new.html" method="post">
	<input type="hidden" name="componentname" value="<!-- #componentname# -->">	
	
	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="550" align="center">
		<tr><td height="2"></td></tr>
	</table>
	
	<table border="0" class="componenttable" cellpadding="0" cellspacing="1" width="550" align="center">
		<tr>
			<td class="componentheadtd" colspan="4">FIRMA ANLEGEN:</td>
		</tr>
		<tr>
			<td class="componentheadtd" width="100" valign="top">KUNDENNUMMER</td>
			<td class="componentcontenttd" colspan="3"><input type="text" name="ACCOUNT_NO" size="58"></td>
		</tr>
		<tr>
			<td class="componentheadtd" width="100" valign="top">FIRMENNAME</td>
			<td class="componentcontenttd" colspan="3"><input type="text" name="COMPANY" size="58"></td>
		</tr>
		<tr>
			<td class="componentheadtd" width="100" valign="top">BRANCHE</td>
			<td class="componentcontenttd" colspan="3"><input type="text" name="BRANCH" size="58"></td>
		</tr>
		<tr>
			<td class="componentheadtd" width="100" valign="top">STRASSE</td>
			<td class="componentcontenttd" colspan="3"><input type="text" name="STREET" size="58"></td>
		</tr>
		<tr>
			<td class="componentheadtd" width="100" valign="top">PLZ</td>
			<td class="componentcontenttd" colspan="3"><input type="text" name="ZIPCODE" size="58"></td>
		</tr>
		<tr>
			<td class="componentheadtd" width="100" valign="top">STADT</td>
			<td class="componentcontenttd" colspan="3"><input type="text" name="CITY" size="58"></td>
		</tr>
		<tr>
			<td class="componentheadtd" width="100" valign="top">LAND</td>
			<td class="componentcontenttd" colspan="3"><input type="text" name="COUNTRY" size="58"></td>
		</tr>
		<tr>
			<td class="componentheadtd" width="100" valign="top">TELEFON</td>
			<td class="componentcontenttd" colspan="3"><input type="text" name="FON" size="58"></td>
		</tr>
		<tr>
			<td class="componentheadtd" width="100" valign="top">FAX</td>
			<td class="componentcontenttd" colspan="3"><input type="text" name="FAX" size="58"></td>
		</tr>
		<tr>
			<td class="componentheadtd" width="100" valign="top">EMAIL</td>
			<td class="componentcontenttd" colspan="3"><input type="text" name="EMAIL" size="58"></td>
		</tr>
		<tr>
			<td class="componentheadtd" width="100" valign="top">KONTO-BEZEICHNUNG</td>
			<td class="componentcontenttd" colspan="3"><input type="text" name="BANK_ACCOUNTNAME" size="58"></td>
		</tr>
		<tr>
			<td class="componentheadtd" width="100" valign="top">KONTO-NUMMER</td>
			<td class="componentcontenttd" colspan="3"><input type="text" name="BANK_ACCOUNTNUMBER" size="58"></td>
		</tr>
		<tr>
			<td class="componentheadtd" width="100" valign="top">BANK</td>
			<td class="componentcontenttd" colspan="3"><input type="text" name="BANK_INSTITUTE" size="58"></td>
		</tr>
		<tr>
			<td class="componentheadtd" width="100" valign="top">BANKLEITZAHL</td>
			<td class="componentcontenttd" colspan="3"><input type="text" name="BANK_CODE" size="58"></td>
		</tr>
		<tr>
			<td class="componentheadtd" width="100" valign="top">UMSATZSTEUER-ID</td>
			<td class="componentcontenttd" colspan="3"><input type="text" name="SALES_TAX_ID" size="58"></td>
		</tr>
		<tr>
			<td class="componentheadtd" width="100"  valign="top">BEMERKUNGEN</td>
			<td class="componentcontenttd" colspan="3"><textarea name="COMMENT" rows="3" cols="50"></textarea></td>
		</tr>
		<tr>
			<td class="componentcontenttd"  align="left">&nbsp;</td>
			<td class="componentcontenttd"  align="right" colspan="3"><input type="submit" value="OK"></td>
		</tr>
	</table>
	</form>
</div>

</body>
</html>